*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.info{
    width: 100%;
    height: 100vh;
    background: url(img/mybg.png) no-repeat center;
    font-size: 18px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
}
.logo{
    max-height: 100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #9273bd;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #9273bd;
    transition: .3s;    
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.dlbtn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #9273bd;
    border: 2px solid #9273bd;
}
.dlbtn:hover {
    background: transparent;
    border-color: #9273bd;
    color: #9273bd;
}
/* Home Section */
#home{
    position: absolute;
    top: 35%;
    left: 8%;
}
#home{
    color: #1f1f25;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    text-transform: inherit;
    width: 70%;
}
#home h1 span{
    color: #953cba; 
}

/* About Me Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
.headings{
    font-family: Century;
    text-align: center;
    font-size: 3rem;
    margin: 40px 0px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#intro p{
    font-size: 1.3rem;
}

/* Portfolio Section */
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: #a190b6;
    align-items: center;
    padding: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 280px;
    height: 480px;
    margin: 10px;
}
/* Services Section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(146,115,189) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(146,115,189);
}
.box img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.box p{
    font-size: 1.1rem;
}
/* Contact Me Section */
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #a190b6;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    width: 10%;
    padding: 10px;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px white;
}